
body{ 
    background: linear-gradient(to right,  green, rgb(3, 72, 3), rgb(22, 36, 24)); 
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
   
}

.kontak-absolute{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2rem;
}
.kontak-absolute .logo-kontak{
   height: 3rem;
   width: 3rem;
   padding: 2px;
}
.kontak-absolute .logo-kontak a img{
    /* weight: auto; */
   height: 3rem;
   width: 3rem;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
  
}
.container .logo{
    color: azure;
    font-family: system-ui;
    font-size: larger;
}
.container .navbar{
    display: flex;
    padding: 5px;
    width: inherit; 
    position: fixed;
    height: fit-content;
    margin-top: 1rem;
}
.container .navbar .navbar-text-menu{
    display: flex; 
}
.menus-navbar{
    margin-left: auto ;
    display: flex;
    width: fit-content;
}
.icon-menu-image{
    height: 1.5rem;
    background-color: white;
    padding: 2px;
    border-radius: 2px;
    display: none;
}
.icon-menu-image img{
    width: 1.5rem;
}
.menu-navbar a{
    margin-right:3rem;
    color: azure;
    font-family: system-ui;
    text-decoration: none;
}
.konten{
    /* margin-top: 5rem; */
    height: 100dvh;
    align-content: center;
    width: 100%;
    justify-content: center;
    /* background-color: brown; */
}
#beranda{
    width: 100%;
}
.row{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
/* .row .col-6{
    width:50%; 
} */
#beranda .row .col-6 .np{
    width:100%; 
    margin-left: auto;
    height: fit-content;   
    margin-top: 30%; 
}
#beranda .row .col-6 .hi{
    font-size: 2.5rem;
}
#beranda .row .col-6 .minat-pekerjaan{
    font-size: 4.5rem;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
}
#beranda .row .col-6 .btn{
margin-top: 2rem;
}
#beranda .row .col-6 .btn .btn-dcv{
background-color: rgb(27, 62, 27);
padding: 10px;
width:fit-content;
font-family: sans-serif;
border-radius: 5px;
color: white;
}
.gambar-1 img{
    margin-left: 5rem;
}
.konten-tentang-saya{
    padding: 10px;
    width:fit-content;
font-family: sans-serif;
border-radius: 5px;
color: white;
text-align: center;
font-size: 1.5rem;
}

#beranda .row .col-6 .btn .btn-dcv:hover{
    color: rgb(112, 172, 122);
}
#riwayat-pendidikan{
    /* margin-top: 2rem; */
    align-content: center;
    text-align: center;
}
.label-section{
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
    text-align: center;

}
#riwayat-pendidikan .konten-riwayat-pendidikan{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 700;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan {
    /* border: 2px solid rgb(18, 34, 22); */
    border-radius: 10px;
    width: 20rem;
   align-content: center;
   justify-content: center;
   text-align: center;
   margin: 5px;
   padding: 10px;
}
#riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan:hover {
    border: 2px solid rgb(173, 193, 178);
    background-color: rgba(93, 228, 100, 0.721);
    box-shadow: rgba(46, 231, 33, 0.77) 0px 7px 29px 0px;
}
#riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan .gambar-card{
   width: 15rem;    
   height: 15rem;
   margin-left: auto;
   margin-right: auto;
}
#riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan .gambar-card img{
   width: inherit;
   height: inherit;
}
#riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan .nama-tempat-pendidikan{
    margin-top: 1rem;
    color: white;
}
#pengalaman{
    width: 100%;
}
#pengalaman .konten-pengalaman{
    width: 100%;
}
#pengalaman .konten-pengalaman .card-pengalaman{
    width: fit-content;
    padding: 5px 5px 5px 10px;
    border :2px solid rgb(43, 77, 43);
    border-radius: 10px;
    background-color: green;
}
#pengalaman .konten-pengalaman .card-pengalaman .nama-perusahaan{
  color: white;
  font-family: sans-serif;
  font-size: 25px;
}
#pengalaman .konten-pengalaman .card-pengalaman .deskripsi-pekerjaan{
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.konten-skills{
    width: 100%;
    text-align: center;

}
.konten-skills .gambar-skilss{
    width: 6rem;
    display: inline;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 5px;
}
.konten-skills .gambar-skilss img{
    width: inherit;
    margin: 2rem;
}
footer{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;  
    padding: 2rem;
    background-color: rgb(23, 47, 24);
}

@media only screen and (max-width: 767px) {
body{
    background-size: cover;
}


.icon-menu-image{
    display: block;
}
.gambar-1 img{
width: 15rem;
}
.navbar{
    width: 100%;
}
.container .navbar .navbar-text-menu{
    display: none; 
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    flex-direction: column; 
    background: linear-gradient(to right,  green, rgb(3, 72, 3), rgb(22, 36, 24)); 
}
.container .navbar .menus-navbar .navbar-text-menu .menu-navbar {
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 10px;  
    background: linear-gradient(to right,  rgb(66, 175, 66), rgb(44, 121, 44), rgb(11, 73, 11), rgb(25, 50, 28));
}
.container .navbar .menus-navbar .navbar-text-menu .menu-navbar a{
    color: rgb(212, 232, 215);
    font-family: sans-serif;
    font-size: 13px;
    margin-bottom: 10px;  
}
footer{
    width: 90vw;
}
#beranda .row .col-6 .hi{
    font-size: 1.5rem;
}
#beranda .row .col-6 .minat-pekerjaan{
    font-size: 3rem;
}
#riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan{
    width: auto;    
    /* height: 5rem; */
 }
#riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan .gambar-card{
    width: 5rem;    
    height: 5rem;
 }
 #riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan .nama-tempat-pendidikan{
    font-size: 0.5;
}
.konten-skills .gambar-skilss img{
    width: inherit;
    margin: 1rem;
}
.konten-skills .gambar-skilss{
    width: 3rem;
   
}
.kontak-absolute{
    margin: 5px;
}
.kontak-absolute .logo-kontak{
    /* weight: auto; */
   height: 2rem;
   width: 2rem;
}
.kontak-absolute .logo-kontak a img{
    /* weight: auto; */
   height: 2rem;
   width: 2rem;
}
#pengalaman .konten-pengalaman .card-pengalaman{
    width:initial;
}
}

/* Gaya untuk layar berukuran sedang (misalnya, tablet) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container .navbar .menus-navbar .navbar-text-menu .menu-navbar a{
        color: rgb(212, 232, 215);
        font-family: sans-serif;
        font-size: 15px;   
    }
    .logo{
        display: none;
    }
    .container .navbar .menus-navbar .navbar-text-menu .menu-navbar {
       margin-left: 5px;
       width: max-content;
       /* background-color: aqua; */
    }
    .gambar-1 img{
        width: 20rem;
        }
  
    footer{
        width: 90vw;
    }
    #beranda .row .col-6 .hi{
        font-size: 2rem;
    }
    #beranda .row .col-6 .minat-pekerjaan{
        font-size: 4rem;
    }
    #riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan{
        width: auto;    
        /* height: 5rem; */
     }
    #riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan .gambar-card{
        width: 10rem;    
        height: 10rem;
     }
     #riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan .nama-tempat-pendidikan{
        font-size: 0.5;
    }
    .konten-skills .gambar-skilss img{
        width: inherit;
        margin: 1rem;
    }
    .konten-skills .gambar-skilss{
        width: 5rem;
       
    }
    .kontak-absolute{
        margin: 5px;
    }
    .kontak-absolute .logo-kontak{
        /* weight: auto; */
       height: 2rem;
       width: 2rem;
    }
    .kontak-absolute .logo-kontak a img{
        /* weight: auto; */
       height: 2rem;
       width: 2rem;
    }
    #pengalaman .konten-pengalaman .card-pengalaman{
        width:initial;
    }

}


@media only screen and (min-width: 992px) and (max-width: 1250px) {
    .gambar-1 {
        width: 100%;
        text-align: center;
        }
    .gambar-1 img{
        width: 20rem;
        margin-left: 5rem;
        }
        #riwayat-pendidikan .konten-riwayat-pendidikan .card-riwayat-pendidikan .gambar-card{
            width: 13rem;    
            height: 13rem;
         }
         #beranda .row .col-6 .hi{
            font-size: 2rem;
        }
        #beranda .row .col-6 .minat-pekerjaan{
            font-size: 3rem;
        }
}